@font-face {
  font-family: 'Cal Sans';
  src: url('/fonts/CalSans-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

html, body{
  font-family: 'Cal Sans', Helvetica;
  background-color: #F1EFEC;
  overflow-x: hidden;
}
